@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(35, 77, 149);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(219, 71%, 43%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: block;
    width: 100%;
    padding: 0;
  }
}
